<h2>Home - Cadastramento de Produtos</h2>

<div class="container w-50">
    <ul>
        <li><button class="btn btn-primary" routerLink="/">Home</button></li>
        <li><button class="btn btn-primary" routerLink="/produtos/listar-produtos">Listar Produtos</button></li>
        <li><button class="btn btn-primary" routerLink="/produtos/cadastrar-produtos">Cadastrar Produtos</button></li>
        <li><button class="btn btn-primary" routerLink="/produtos/editar-produtos">Editar Produtos</button></li>
        <li><button class="btn btn-primary" routerLink="/produtos/excluir-produtos">Excluir Produtos</button></li>
    </ul>
</div>