<p class="fs-3">Escolha um produto para excluir </p>
<table class="fs-5 table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Serie</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produto of produtos">
            <th scope="row"> <input type="checkbox" name="" id="{{produto.id}}"> </th>
            <td>{{produto.name}}</td>
            <td>{{produto.category}}</td>
            <td>{{produto.price}}</td>
            <td>{{produto.serie}}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary">Confirmar</button>